body {
  background-color: #151719;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
  color: #00ff00;
  margin: 0 auto;
  position: relative;
}

header {
  font-size: 40px;
  font-weight: bold;
  top: 20px;
  text-align: center;
  color: #00ff00;
}

.legend {
  position: absolute;
  top: 0px;
  right: 0;
  width: 380px;
  font-size: 8px;
  color: #00ff00;
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: indigo;
  stroke: cyan;
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
  fill: rgb(0, 255, 0);
  stroke: lime;
}

path.link {
  fill: none;
  stroke: #444;
  stroke-width: 1px;
}
