body {
  background-color: #151719;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
  color: lime;
  margin: 0 auto;
  position: relative;
}

header {
  font-size: 40px;
  font-weight: bold;
  top: 20px;
  text-align: center;
  color: lime;
}

.legend {
  font-weight: bold;
  font-size: 10px;
  color: lime;
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: rgb(0, 255, 255);
  stroke: indigo;
  stroke-width: 2px;
}

.node text {
  font-size: 12px;
  fill: rgb(0, 255, 0);
  stroke: lime;
}

path.link {
  fill: none;
  stroke: #444;
  stroke-width: 1px;
}
