---
name: ⭕ Trunk [check]
on:
  push:
    branches: [main]
    tags: [v*.*.*]
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch: {}

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      checks: write # For trunk to post annotations
      contents: read # For repo checkout
    steps:
      - name: ✅ Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - name: ✨ Trunk Check
        uses: trunk-io/trunk-action@6eac1bb24506bc4fc043f7df134454bbd702bb9d
