---
name: "⭕ Trunk"
on:
  push:
    branches: [main]
    tags: ["v*.*.*"]
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch: {}

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: ✅ Checkout
        uses: actions/checkout@v3
      - name: ✨ Trunk Check
        uses: trunk-io/trunk-action@aba070d830d1aced990c98f3f548b7fd8253d4db
